.first-screen-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 523px;
  min-height: 377px;
  padding: 140px 0 0;
  box-sizing: border-box;
  background: url(../img/first-screen-inner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.first-screen-inner h1 {
  text-align: center;
  margin: 0;
  font-size: 68px;
  font-weight: 500;
  color: #515151;
}
.top-news {
  list-style: none;
  padding: 0;
  margin-bottom: 74px;
  min-width: 285px;
  flex-shrink: 1;
}
.side-bar-h4 {
  color: #515151;
  font-size: 17px;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: 10px;
}
.news-item {
  display: flex;
  margin-bottom: 17px;
}
.news-item img {
  width: 80px;
  flex-shrink: 1;
  height: 80px;
}
.news-item-info {
  margin-left: 10px;
}
.news-item__title {
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 2px;
}
.news-item__date {
  font-size: 19px;
  margin-top: 0;
}
.news-categogy {
  list-style: none;
  padding: 0;
}
.news-categogy__name {
  font-style: 13px;
  margin-bottom: 22px;
  font-family: "Open Sans", sans-serif;
}
.news-categogy__name a {
  text-decoration: none;
  color: #000;
}
.news-categogy__name a:visited {
  color: #000;
}
.w1-4 {
  width: 25%;
}
.w1-3 {
  width: 75%;
}

.last-news-container {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
}
.last-news-container .last-news__item {
  width: 100%;
  display: flex;
}
.last-news-container .last-news__item .last-news__item-img {
  min-width: 419px;
  flex-shrink: 1;
}
.last-news-container .last-news__item .last-news__item-info {
  min-width: 100%;
  margin-left: 12px;
}
.last-news-container .last-news__item .last-news__item-info .news-item-text {
  min-width: 100%;
}

/* Открытая новость */

.open-news-container {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
}
.open-news-container .last-news__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 785px;
  margin: 0 auto;
}
.open-news-container .last-news__item .last-news__item-img {
  min-width: 419px;
  flex-shrink: 1;
  max-height: initial !important;
  margin-bottom: 36px;
}
.new-body {
  max-width: 600px;
  margin: 85px auto;
}
.open-news-container .last-news__item .last-news__item-info {
  min-width: 100%;
  margin-left: 12px;
}
.open-news-container .last-news__item .last-news__item-info .news-item-text {
  min-width: 100%;
}

.open-news-container
  .last-news__item:hover
  .last-news__item-info
  .item-info-data {
  color: #515151;
}
.open-news-container
  .last-news__item:hover
  .last-news__item-info
  .news-item-text
  .news-item-title {
  color: #515151;
}
/* --- */

.news-pagination {
  display: flex;
  width: 680px;
  margin: 80px auto 150px;
  align-items: center;
  justify-content: center;
}

.news-pagination ul {
  list-style: none;
  margin: 0 70px;
  height: 35px;
  padding: 0;
}
.news-pagination ul li {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.prev-page,
.next-page {
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 35px;
  cursor: pointer;
}
.prev-page a,
.next-page a {
  position: relative;
  display: block;
  width: 100%;
  color: #000;
  transition: all 0.3 ease;
  text-decoration: none;
}
.prev-page a:before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -36px;
  width: 14px;
  height: 22px;
  background-image: url(../img/pag-prev.png);
}
.next-page a:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: -36px;
  width: 14px;
  height: 22px;
  background-image: url(../img/pag-next.png);
}
.prev-page a:hover,
.next-page a:hover {
  color: #809aa5;
  transition: all 0.3 ease;
}
.news-pagination ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
}
.news-pagination ul li a:hover {
  color: #fff !important;
  background: #ffaad2;
  transition: all 0.2s ease;
}
.news-pagination ul li a:visited {
  color: #000;
}
.news-pagination ul li span {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
}

@media screen and (max-width: 1340px) {
  .last-news-container .last-news__item .last-news__item-info .news-item-text {
    min-width: auto;
  }
  .open-news-container .last-news__item .last-news__item-info .news-item-text {
    min-width: auto;
  }
}
@media screen and (max-width: 1200px) {
  .last-news-container {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }
  .last-news-container .w1-3 {
    width: 100%;
  }
  .last-news-container .w1-4 {
    width: 100%;
  }
  /* open news */
  .open-news-container {
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }
  .open-news-container .w1-3 {
    width: 100%;
  }
  .open-news-container .w1-4 {
    width: 100%;
  }
  /* --- */
  .first-screen-inner h1 {
    font-size: 40px !important;
  }
  .first-screen-inner__h2 {
    font-size: 32px !important;
  }
}
@media screen and (max-width: 910px) {
  .last-news__item-img img {
    height: auto !important;
    width: auto !important;
  }
  .news-pagination {
    max-width: 100%;
  }
  .prev-page a,
  .next-page a {
    font-size: 0;
  }
  .prev-page a:before {
    top: -11px;
    left: 0;
  }
  .next-page a:after {
    top: -11px;
    right: 0;
  }
  .news-pagination ul {
    list-style: none;
    margin: 0 20px;
  }
  .last-news-container .last-news__item {
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 60px;
  }
  .last-news-container .last-news__item .last-news__item-info {
    margin-left: 0;
  }
  .last-news-container .last-news__item .last-news__item-info .news-item-text {
    width: 100%;
    max-width: 100%;
  }
  .last-news-container .last-news__item .last-news__item-info {
    width: 100%;
    box-sizing: border-box;
  }

  /* open news */

  .open-news-container .last-news__item {
    flex-direction: column;
    min-width: 100%;
    margin-bottom: 60px;
  }
  .open-news-container .last-news__item .last-news__item-info {
    margin-left: 0;
  }
  .open-news-container .last-news__item .last-news__item-info .news-item-text {
    width: 100%;
    max-width: 100%;
  }
  .open-news-container .last-news__item .last-news__item-info {
    width: 100%;
    box-sizing: border-box;
  }
  /* --- */
}

@media screen and (max-width: 480px) {
  .last-news__item-img img {
    width: 100% !important;
  }

  .last-news-container .last-news__item .last-news__item-img {
    min-width: auto;
  }

  /* open news */

  .open-news-container .last-news__item .last-news__item-img {
    min-width: auto;
  }

  /* --- */
}
