@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.04) translateY(300%);
    transform: scale(0.04) translateY(300%);
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
    -webkit-transition: ease-out;
    transition: ease-out;
  }
  40% {
    -webkit-transform: scale(0.04) translateY(0);
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(0.02) translateY(0px);
    transform: scale(0.02) translateY(0px);
  }
  61% {
    -webkit-transform: scale(0.04);
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#menu-container ul {
  list-style: none;
}

#menu-container a {
  text-decoration: none;
  color: black;
}

#my-popup {
  max-width: 500px;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}

/* #my-popup form input { */
/* border: solid 1px #000; } */
.call-back-mob {
  display: none;
  cursor: pointer;
  background: #ffaad2;
  border: 0;
  padding: 12px 17px 7px;
  border-radius: 50px;
  outline: none;
}
.call-back-header {
  color: #fff;
  display: inline-block;
  padding: 10px 0px;
  background-color: #ffaad2;
  margin-left: 7px;
  border-radius: 55px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.call-back-header:hover {
  background-color: #c5397d;
  transition: all 0.3s ease;
}
.header-icon {
  display: inline-block;
  margin-left: 17px;
  padding-top: 10px;
  margin-right: 33px;
}
.inst-header {
  background: url(../img/instagram-logo.svg);
  background-repeat: no-repeat;
  width: 31px;
  height: 31px;
  margin-left: 0px;
  display: inline-block;
  background-size: contain;
}
.fb-header {
  background: url(../img/facebook.svg);
  background-repeat: no-repeat;
  margin-left: 16px;
  width: 31px;
  height: 31px;
  display: inline-block;
  background-size: contain;
}

.main-menu {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.menu-button {
  margin-top: 2px;
  margin-left: 6px;
  width: 21px;
}
.first-screen-cursy .look-more {
  background-color: #ffaad2;
  transition: all 0.5s ease;
}
.first-screen-cursy .look-more:hover {
  background-color: #c5397d;
  transition: all 0.5s ease;
}
.menu-title {
  color: #515151;
  height: 100%;
  line-height: 1;
  letter-spacing: 4px;
  font-size: 24px;
}

#menu-wrapper {
  margin-top: 3px;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

#menu-wrapper #hamburger-menu {
  position: relative;
  width: 96px;
  height: 24px;
}

#menu-wrapper #hamburger-menu span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  color: black;
  background-color: #515151;
  position: absolute;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
  top: 3px;
}

#menu-wrapper #hamburger-menu span:nth-child(2) {
  top: 10px;
}

#menu-wrapper #hamburger-menu span:nth-child(3) {
  top: 17px;
}

#menu-wrapper #hamburger-menu.open span:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(135deg);
  transform: translateY(6px) rotate(135deg);
}

#menu-wrapper #hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(60px);
  transform: translateX(60px);
}

#menu-wrapper #hamburger-menu.open span:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-135deg);
  transform: translateY(-8px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
  padding-top: 20px;
  padding-bottom: 20px;
}

#menu-container .menu-list {
  padding: 50px;
  display: block;
  position: absolute;
  width: 100%;
  max-width: 50%;
  background: white;
  -webkit-box-shadow: rgba(100, 100, 100, 0.5) 15px 10px 10px;
  box-shadow: rgba(100, 100, 100, 0.5) 15px 10px 10px;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  left: -100%;
}

#menu-container .menu-list li.accordion-toggle,
#menu-container .menu-list .menu-login {
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
  border-top: 1px solid #dbdcd2;
}

#menu-container .menu-list li:first-of-type {
  border-top: 0;
}

.accordion-toggle,
.accordion-content {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
}

.accordion-content {
  display: none;
}

.accordion-toggle a:before,
.accordion-toggle a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  background-color: #5a5858;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 1;
  z-index: 2;
}

.accordion-toggle.active-tab {
  background: #ffaad2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion-toggle a.active:before {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background: #fff !important;
}

.accordion-toggle a.active:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #fff !important;
  opacity: 0;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

p {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-weight: normal;
  margin-top: 0;
  font-size: 20px;
}

.clear {
  clear: both;
}

.menu-button {
  z-index: 999;
  width: 21px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.menu-button .ico {
  display: block;
  margin: 4px 0 0 2px;
  width: 15px;
}

.menu-button .line {
  display: block;
  margin: -2px 0 0 0;
  width: 13px;
  height: 2px;
  background: #fff;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.menu-button .line.l1 {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.menu-button .line.l2 {
  width: 13px;
}

.menu-button .line.l3 {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

.header {
  width: 100%;
  position: fixed;
  height: 130px;
  padding-top: 15px;
  top: 0;
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); */
  z-index: 5;
  /* -webkit-transition: transform 0.2s linear;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  transition: transform 0.2s linear; */
}

.header.hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform 0.2s linear;
}

.header.hide {
  /* background: #fff; */
}
.header.show {
  display: flex;
  background: #fff;
  height: 80px;
  padding-top: 0px;
  -webkit-transform: initial;
  transform: initial;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s linear;
}
.hide .flex_container .flex-center-center .main-logo {
  height: 60px !important;
}
/* .show .flex_container .flex-center-center .main-logo {
  height: 60px !important;
} */
.main-logo {
  display: block;
  margin: 10px auto 0;
  height: 110px;
  font-size: 24px;
}

.title-menu {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  display: block;
  color: #fff;
}

.main-logo img {
  max-height: 100%;
}

.flex-justify-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-center-flexstart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 60px;
}

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-center-flexend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 50px;
}
.header-contant {
  color: #515151;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1.9px;
  font-size: 24px;
}

.first-screen {
  position: relative;
  max-height: 1023px;
  min-height: 608px;
  padding: 162px 0 166px;
  background: url(../img/layer884.png);
  background-size: cover;
}
.firstscreen__white-line-top {
  display: block;
  position: absolute;
  top: 0px;
  width: 1px;
  height: 344px;
  left: 240px;
  background-color: rgba(255, 255, 255, 0.5);
}
.firstscreen__white-line-top::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0px;
  left: 60px;
  height: 640px;
  width: 1px;
}
.small.firstscreen__white-line-top {
  height: 266px;
}
.small.firstscreen__white-line-top::after {
  height: 495px;
}
.small.firstscreen__white-line-bottom {
  height: 266px;
}
.small.firstscreen__white-line-bottom::after {
  height: 495px;
}

.firstscreen__white-line-bottom {
  display: block;
  position: absolute;
  right: 162px;
  bottom: 0px;
  width: 1px;
  height: 344px;
  background-color: rgba(255, 255, 255, 0.5);
}
.firstscreen__white-line-bottom::after {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 60px;
  bottom: 0px;
  height: 640px;
  width: 1px;
}
.first-screen-cursy {
  max-width: 555px;
  margin-top: 0px;
  margin-right: 13px;
}
.first-screen-cursy .cursy-img {
  margin-bottom: 23px;
}
.first-screen-cursy .cursy-img img {
  max-width: 100%;
}
.first-screen-cursy p {
  color: #515151;
  font-size: 16px;
  line-height: 30px;
  font-family: "Oswald", sans-serif;
}
.first-screen-cursy a {
  display: block;
  background-color: #ffaad2;
  color: #fff;
  font-size: 16px;
  padding: 9px;
  width: 168px;
  text-align: center;
  border-radius: 45px;
  margin-top: 45px;
  text-decoration: none;
}

.first-screen-form {
  max-width: 485px;
  position: relative;
  z-index: 4;
  margin-left: 100px;
  box-shadow: 0 0 10px rgba(255, 170, 210, 0.5);
  overflow: hidden;
  padding-bottom: 26px;
}
.first-screen-form:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(255, 255, 255, 0.85);
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.pinck-color {
  color: #ffaad2;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.first-screen-form h2 {
  margin: 32px 5px 49px;
  text-align: center;
  font-weight: 500;
  line-height: 41px;
  font-size: 40px;
}
.first-screen-form .first-screen-form__button {
  width: 100%;
  margin-top: 23px;
  height: 42px;
  border-radius: 45px;
  border: 0;
  color: #fff;
  background-color: #ffaad2;
  transition: all 0.3s ease;
  font-size: 16px;
  cursor: pointer;
}
.first-screen-form .first-screen-form__button:hover {
  transition: all 0.3s ease;
  background-color: #c5397d;
}
.first-screen-form .textarea {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #515151;
  text-indent: 10px;
  height: 93px;
  margin-top: 10px;
  font-size: 13px;
  color: #515151;
  outline-color: #515151;
  width: 100%;
}
.first-screen-form .textarea::-webkit-input-placeholder {
  color: #515151;
  font-style: 10px;
}
.first-screen-form .textarea::-moz-placeholder {
  color: #515151;
  font-style: 10px;
}
.first-screen-form .textarea::-ms-input-placeholder {
  color: #515151;
  font-style: 10px;
}
.first-screen-form .textarea::placeholder {
  color: #515151;
  font-style: 10px;
}

.first-screen-form .form-body {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.first-screen-form__name {
  border: 1px solid #515151;
  background: transparent;
  height: 46px;
  width: 100%;
  font-size: 13px;
  color: #515151;
  text-indent: 10px;
  outline-color: #515151;
}
.first-screen-form__name::-webkit-input-placeholder {
  color: #515151;
  font-style: 13px;
}
.first-screen-form__name::-moz-placeholder {
  color: #515151;
  font-style: 13px;
}
.first-screen-form__name::-ms-input-placeholder {
  color: #515151;
  font-style: 13px;
}
.first-screen-form__name::placeholder {
  color: #515151;
  font-style: 13px;
}

.first-screen-form__wrap-input input {
  border: 0;
  border-bottom: 1px solid #515151;
  background-color: transparent;
  text-indent: 10px;
  height: 50px;
  margin-top: 9px;
  min-width: 180px;
  width: 100%;
  color: #515151;
  outline-color: #515151;
}
.first-screen-form__wrap-input input:first-of-type {
  margin-right: 20px;
}
.first-screen-form__wrap-input input::-webkit-input-placeholder {
  color: #515151;
  font-size: 10px;
}
.first-screen-form__wrap-input input::-moz-placeholder {
  color: #515151;
  font-size: 10px;
}
.first-screen-form__wrap-input input::-ms-input-placeholder {
  color: #515151;
  font-size: 10px;
}
.first-screen-form__wrap-input input::placeholder {
  color: #515151;
  font-size: 10px;
}

.first-screen-form__wrap-input select {
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  text-indent: 10px;
  height: 50px;
  margin-top: 10px;
  min-width: 180px;
  color: #fff;
  outline-color: #fff;
}
.first-screen-form__wrap-input select:first-of-type {
  margin-right: 20px;
}
.first-screen-form__wrap-input select options {
  color: #fff;
  font-size: 13px;
  background: transparent;
}

.jq-selectbox {
  min-width: 127px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jq-selectbox:first-of-type {
  margin-right: 20px;
}

.jq-selectbox__select {
  margin-top: 10px !important;
  height: 32px !important;
  padding: 0 45px 0 10px !important;
  border: 0 !important;
  border-bottom: 1px solid #fff !important;
  border-radius: 0px !important;
  background: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff !important;
  font-size: 13px !important;
  text-shadow: none;
  width: 125px;
}

.jq-selectbox li:hover {
  background-color: #a3abb1;
  color: #fff;
}

.jq-selectbox__trigger-arrow {
  border-top: 5px solid #ffffff;
}

.jq-selectbox__trigger {
  border-left: 0;
}

.sl-wrapper .sl-navigation button {
  color: #fff;
}
.sl-wrapper .sl-close,
.sl-wrapper .sl-counter {
  color: #fff;
}
.sl-overlay {
  background: #000;
  opacity: 0.85;
}
.first-screen-main-servise {
  height: 140px;
  display: flex;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Oswald", sans-serif !important;
}
.main-service__container {
  width: 1265px;
  display: flex;
  padding-top: 17px;
  margin: 0 auto;
}
.main-servise__title {
  font-size: 23px;
  font-weight: 500;
  color: #515151;
  max-width: 250px;
  line-height: 29px;
  margin: 15px auto 2px;
  text-align: center;
}
.main-servise__button {
  border-radius: 50px;
  color: #515151;
  display: inline-block;
  width: 128px;
  font-size: 14px;
  border: solid 1px #515151;
  padding: 5px 0px;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.lr-border {
  position: relative;
}
.lr-border::before {
  content: "";
  top: 50%;
  margin-top: -43.5px;
  display: block;
  width: 1px;
  height: 87px;
  position: absolute;
  background-color: #d5d2d4;
}
.lr-border::after {
  content: "";
  top: 50%;
  right: 0;
  margin-top: -43.5px;
  display: block;
  width: 1px;
  height: 87px;
  position: absolute;
  background-color: #d5d2d4;
}

@media screen and (max-width: 1650px) {
  .header-contant {
    display: none;
  }
  .firstscreen__white-line-top {
    display: none;
  }
  .firstscreen__white-line-bottom {
    display: none;
  }
  .gallery__white-line-bottom {
    display: none;
  }
}
@media screen and (max-width: 1340px) {
  .first-screen-cursy {
    max-width: 450px;
    margin-top: 135px;
    margin-right: 25px;
  }
  .first-screen-cursy .cursy-img {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 1265px) {
  .main-service__container {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .header-icon {
    display: none;
  }
  .marg-l-r-auto-1200 {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media screen and (max-width: 768px) {
  .main-servise__title {
    margin-bottom: 10px;
  }
  .first-screen-main-servise {
    flex-direction: column;
    height: auto;
    padding-bottom: 25px;
  }
  .call-back-header {
    display: none;
  }
  .call-back-mob {
    display: block;
  }
  .header-contant,
  .menu-title {
    font-size: 16px;
  }
  .menu-button {
    margin-top: -2px;
  }
  #menu-wrapper #hamburger-menu span {
    height: 2px;
  }
  #menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
  }
  #menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 15px;
  }
  #menu-wrapper #hamburger-menu.open span:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-135deg);
    transform: translateY(-6px) rotate(-135deg);
  }

  .header {
    height: 75px;
  }
  .flex-center-flexstart {
    margin-left: 25px;
  }
  .flex-center-flexend {
    margin-right: 25px;
  }
  .main-logo {
    height: 60px;
  }
}

.cursy {
  padding: 97px 0;
  position: relative;
  background: url(../img/lemon.png) 0 45px no-repeat,
    url(../img/wed.png) 100% 100% no-repeat;
}

.cursy__caption {
  color: #ffaad2;
  letter-spacing: 9px;
  font-size: 16px;
  text-align: center;
}

.cursy__title {
  color: #000;
  font-size: 48px;
  margin-top: 20px;
  margin-bottom: 87px;
  text-align: center;
}

.cursy__container {
  max-width: 1167px;
  margin: 0 auto;
}

.card-curs {
  max-width: 274px;
  height: 100%;
  margin: 0 auto;
}
.card-curs .card-curs__img {
  height: 285px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-curs .card-curs__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card-curs:hover .card-curs__img {
  height: 285px;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-curs:hover .card-curs__subscribe {
  border-color: #ffaad2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-curs__title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  margin-top: 25px;
  margin-bottom: 0;
}

.card-curs__date {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  margin-top: 8px;
  color: #ffaad2;
}

.card-curs__subscribe {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 183px;
  position: relative;
  border: solid 1px #000;
  font-size: 16px;
  border-radius: 45px;
  padding: 9px 43px 9px 22px;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-curs__subscribe::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 12px;
  top: 16px;
  right: 38px;
  background: url(../img/right-arrow.png) center;
  background-repeat: no-repeat;
  background-size: containe;
}
.card-curs__subscribe:hover {
  border-color: #ffaad2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card-curs__subscribe:active {
  color: #000;
}
.card-curs__subscribe:visited {
  color: #000;
}
.cursy .swiper-container .swiper-wrapper .swiper-slide {
  margin-right: 0 !important;
}
.gallery {
  position: relative;
  padding: 85px 0 55px;
  min-height: 760px;
  /* overflow: hidden; */
  background-color: #fff;
}

.gallery__red-line-top {
  display: block;
  position: absolute;
  top: 88px;
  width: 265px;
  height: 1px;
  background-color: rgba(255, 9, 10, 0.4);
}
.gallery__red-line-top::after {
  content: "";
  display: block;
  height: 1px;
  background-color: rgba(255, 9, 10, 0.4);
  position: absolute;
  top: 75px;
  width: 465px;
}

.gallery__red-line-bottom {
  display: block;
  position: absolute;
  right: 0;
  bottom: 88px;
  width: 465px;
  height: 1px;
  background-color: rgba(255, 9, 10, 0.4);
}
.gallery__red-line-bottom::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ffcdd2;
  position: absolute;
  right: 0;
  bottom: 75px;
  width: 265px;
}

.gallery__caption {
  display: block;
  color: #515151;
  text-align: center;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 300;
  z-index: 2;
  position: relative;
}

.gallery__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  z-index: 2;
  position: relative;
}

.gallery__item {
  max-width: 1320px;
  width: 320px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.image-item {
  width: 320px;
  height: 190px;
  margin-bottom: 20px;
  position: relative;
}
.image-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.image-item a {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.image-item:hover a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 170, 210, 0.5);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gallery-button-prev-next {
  position: relative;
  max-width: 200px;
  margin: 40px auto 0;
}
.gallery-button-prev-next .swiper-button-next,
.gallery-button-prev-next .swiper-button-prev {
  background-color: rgba(255, 255, 255, 0);
}
.gallery-button-prev-next .swiper-button-next {
  background-image: url(../img/next-black.png) !important;
}
.gallery-button-prev-next .swiper-button-prev {
  background-image: url(../img/prev-black.png) !important;
}
.gallery__white-line-bottom {
  width: 1px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  right: 140px;
}

.logotype-sentence {
  width: 248px;
  height: 275px;
}
.logotype-sentence img {
  width: 100%;
  object-fit: cover;
}

.after-cursy {
  min-height: 564px;
  background: url(../img/layer8804.png);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.after-cursy__container {
  margin: 0 auto;
  max-width: 1320px;
}

.sentence {
  height: 100%;
  padding: 96px 56px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sentence-caption {
  color: #ffaad2;
  letter-spacing: 5px;
  font-size: 16px;
}

.h2-sentence {
  font-size: 32px;
}

.sentence-title {
  font-size: 18px;
  font-weight: 700;
  color: #515151;
  margin-top: 0;
}

.sentence-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sentence-container__img {
  margin-right: 10px;
  height: 80px;
  width: 70px;
  flex-shrink: 0;
}

.sentence-container__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sentence-container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe {
  padding-top: 150px;
  background: url(../img/lemon.png) 0 313px no-repeat,
    url(../img/wed.png) 100% 83% no-repeat;
}

.subscribe__container {
  margin: 0 auto;
  max-width: 1320px;
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__container {
  margin-bottom: 150px;
}

.what-we-do__caption {
  color: #ffaad2;
  letter-spacing: 8px;
  font-size: 16px;
}
.caption {
  color: #ffaad2;
  letter-spacing: 8px;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.h2 {
  font-size: 48px;
  margin-bottom: 30px;
  color: #515151;
  line-height: 55px;
  font-weight: 500;
}
.first-screen-inner__h2 {
  font-size: 54px;
  margin-bottom: 30px;
  color: #515151;
  line-height: 55px;
  font-weight: 500;
}
.white-color {
  color: #fff;
}
.grey-color {
  color: #515151;
}

.text-align-left {
  -moz-text-align-last: left !important;
  text-align-last: left !important;
}

.text-align-center {
  text-align: center;
}

.what-we-do__subscribe:hover {
  background-color: #c5397d;
  transition: all 0.3s ease;
}
.what-we-do__subscribe {
  display: block;
  background-color: #ffaad2;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 16px;
  padding: 11px;
  width: 165px;
  text-align: center;
  border-radius: 45px;
  margin-top: 45px;
  text-decoration: none;
}

.flex-direction-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.what-we-do__img img {
  display: block;
  margin: 0 auto;
  max-width: 525px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.what-we-do__text {
  display: block;
  margin: 0 auto;
  max-width: 525px;
}

.to-order {
  height: 465px;
  position: relative;
  padding: 85px 0 55px;
  background: url(../img/layer821.png);
  background-size: cover;
}

.to-order__container {
  max-width: 1320px;
  margin: 0 auto;
}

.to-order__form {
  max-width: 775px;
  width: 90%;
  margin: 50px auto 0;
}
.to-order__form input {
  max-width: 775px;
  width: 100%;
  border-radius: 2px;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: 0;
}
.to-order__form input::-webkit-input-placeholder {
  color: #9a9a9a;
  text-align: center;
}
.to-order__form input::-moz-placeholder {
  color: #9a9a9a;
  text-align: center;
}
.to-order__form input::-ms-input-placeholder {
  color: #9a9a9a;
  text-align: center;
}
.to-order__form input::placeholder {
  color: #9a9a9a;
  text-align: center;
}
.to-order__form input:focus {
  text-indent: 20px;
}
.to-order__form input:focus::-webkit-input-placeholder {
  color: #fff;
}
.to-order__form input:focus::-moz-placeholder {
  color: #fff;
}
.to-order__form input:focus::-ms-input-placeholder {
  color: #fff;
}
.to-order__form input:focus::placeholder {
  color: #fff;
}
.to-order__form button {
  border: 0;
  background-color: #ffaad2;
  color: #fff;
  display: block;
  border-radius: 45px;
  padding: 11px;
  min-width: 165px;
  cursor: pointer;
  margin: 35px auto 0;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease;
}
.to-order__form button:hover {
  transition: all 0.3s ease;
  background-color: #c5397d;
}
.swiper-container {
  max-width: 1320px;
  margin: 0 auto;
}

.last-news {
  padding: 90px 0;
  position: relative;
  max-height: 1170px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/lemon.png) 0 45px no-repeat,
    url(../img/wed.png) 100% 85% no-repeat;
}

.last-news__caption {
  font-size: 16px;
  letter-spacing: 5px;
  color: #ffaad2;
  font-weight: 300;
  text-align: center;
}

.last-news__cantainer {
  max-width: 1320px;
  margin: 0 auto;
}

.last-news__item {
  max-width: 425px;
}

.last-news__item:hover {
  cursor: pointer;
}
.last-news__item:hover .last-news__item-img {
  position: relative;
}
.last-news__item:hover .last-news__item-img span {
  background-color: rgba(255, 170, 210, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.last-news__item:hover .last-news__item-info .item-info-data {
  color: #ffaad2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.last-news__item:hover .last-news__item-info .news-item-text .news-item-title {
  color: #ffaad2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.last-news__item-img {
  width: 100%;
  max-height: 285px;
  margin-bottom: 72px;
  position: relative;
}
.last-news__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.last-news__item-img span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.last-news__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 377px;
  margin: 0 auto;
}

.item-info-data {
  min-width: 74px;
  height: 115px;
  border: solid 3px #515151;
  color: #515151;
  margin-right: 18px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-info-data__day {
  font-size: 30px;
  margin-bottom: 13px;
  font-weight: 600;
}

.item-info-data__mouns {
  font-size: 12px;
  font-weight: 600;
}

.item-info-data__year {
  font-size: 12px;
  font-weight: 600;
}

.news-item-text {
  max-width: 287px;
}

.news-item-title {
  font-size: 18px;
  font-weight: 600;
  color: #515151;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.news-item-line {
  height: 1px;
  display: block;
  width: 100%;
  background: #dfdfdf;
  margin: 29px 0;
  position: relative;
}
.news-item-line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 1px;
  background: #ffaad2;
}

.news-item-tags {
  font-size: 13px;
  color: #515151;
  font-weight: 600;
}
.news-item-text p {
  color: #515151;
}
.news-item__button {
  font-size: 14px;
  display: block;
  text-align: center;
  background-color: #ffaad2;
  color: #fff;
  text-decoration: none;
  border-radius: 45px;
  padding: 11px;
  max-width: 134px;
  margin-top: 35px;
  transition: all 0.3s ease;
}
.news-item__button:hover {
  background-color: #c5397d;
  transition: all 0.3s ease;
}

.telefon {
  position: relative;
  padding: 65px 0;
  min-height: 380px;
  background: url(../img/telefon-section.png);
  background-size: cover;
  overflow: hidden;
}

.telefon__button {
  border: 0;
  background-color: #ffaad2;
  color: #fff;
  display: block;
  border-radius: 45px;
  padding: 11px;
  width: 194px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 35px auto 0;
  font-size: 16px;
  transition: all 0.3s ease;
}
.telefon__button:hover {
  background-color: #c5397d;
  transition: all 0.3s ease;
}

.h3_telefon {
  font-size: 36px;
  font-weight: 300;
}

footer {
  padding: 45px 0;
}

.footer-copy {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
.footer-copy::visited {
  color: #000;
}

.footer-icon-container {
  text-align: right;
}
.footer-icon-container .twitter-icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url(../img/Twitter-Logo.png) bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer-icon-container .facebook-icon {
  width: 21px;
  height: 21px;
  display: inline-block;
  background: url(../img/Facebook-Logo.png) bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-text {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 28px;
}

.header-wrapper {
  width: 1601px;
  height: 70px;
  margin: 0 auto;
  background-color: transparent;
}

.logo {
  width: 165px;
  height: 70px;
  margin-top: 18px;
  position: relative;
  z-index: 3;
}

.menu-mobile {
  display: none;
  position: fixed;
  z-index: 998;
  bottom: 0;
  margin: 0;
  margin-bottom: -40px;
  padding: 30px 0 0 0;
  width: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-mobile a {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 10px 0;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.open-menu {
  overflow: hidden;
}

.open-menu .menu-button .line.l1 {
  -webkit-transfrom: rotate(45deg);
  -moz-transfrom: rotate(45deg);
  -ms-transfrom: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open-menu .menu-button .line.l2 {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  opacity: 0;
}

.open-menu .menu-button .line.l3 {
  -webkit-transfrom: rotate(-45deg);
  -moz-transfrom: rotate(-45deg);
  -ms-transfrom: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open-menu .menu-mobile {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  opacity: 1;
}

.menu-button {
  position: relative;
}

.mobile_menu_wrapper {
  z-index: 1;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
}

.mobile_menu_wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #2c2832;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0.04) translateY(9999px);
  transform: scale(0.04) translateY(9999px);
  overflow: hidden;
}

.open .mobile_menu_wrapper {
  top: 0;
}

.open .mobile_menu_wrapper:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
  animation: menu-animation 0.8s ease-out forwards;
}

.col_w4 {
  width: 25%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col_w2 {
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.col_w3 {
  width: 33.33%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex_container {
  width: 100%;
  margin: 0;
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.footer_wrapper {
  background-color: #fff;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

footer {
  background-color: transparent;
  color: #000;
  width: 1320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main_container {
  width: 1601px;
  margin: 70px auto 0;
}

.swiper-button-next {
  right: 40px;
  outline: none;
}

.swiper-button-prev {
  left: 40px;
  outline: none;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 2 !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 35px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

@media screen and (max-width: 1340px) {
  .cursy .swiper-container .swiper-wrapper .swiper-slide {
    margin-right: 30px !important;
  }
  .first-screen {
    max-height: 1023px;
    padding: 150px 0 100px;
  }
  .swiper-container {
    max-width: 90%;
  }
  footer {
    max-width: 100% !important;
    padding-left: 20px;
    padding-right: 20px;
  }
  .first-screen {
    max-height: 820px !important;
  }
  .image-item {
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 1120px) {
  .after-cursy__container .flex_container .col_w2 {
    width: 100%;
  }
  .after-cursy__container .flex_container {
    flex-direction: column;
  }
  .what-we-do__text {
    padding: 0 20px;
  }
  .sentence {
    box-sizing: border-box;
    padding: 65px 56px 0;
  }
  .logotype-sentence {
    box-sizing: border-box;
    padding: 50px;
  }
}

@media screen and (max-width: 1065px) {
  .what-we-do__text {
    padding: 0 40px;
  }
}

@media screen and (max-width: 1050px) {
  .swiper-button-next {
    right: 5px;
  }
  .swiper-button-prev {
    left: 5px;
  }
  .mob-direction-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .mob-direction-column .col-w2 {
    width: 100% !important;
  }
  .first-screen-cursy {
    width: 100%;
    max-width: 768px;
    margin: 50px auto;
    text-align: center;
  }
  .first-screen-cursy .look-more {
    margin: 0 auto;
  }
  .mob-direction-column {
    padding-left: 20px;
    padding-right: 20px;
  }
  .first-screen {
    min-height: 1070px !important;
    display: table;
    width: 100%;
  }
  .sentence {
    width: 100% !important;
  }
  .sentence p {
    text-align: center;
  }
  .sentence-caption {
    text-align: center;
  }
  .h2-sentence {
    text-align: center;
  }
  .sentence-container__text {
    padding: 10px 20px;
  }
  .sentence-container__text p {
    text-align: left;
  }
  .what-we-do {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .what-we-do__text {
    width: 100% !important;
    max-width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .what-we-do__text .what-we-do__subscribe {
    margin: 0 auto;
  }
  .what-we-do__img {
    width: 100%;
  }
  .to-order {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
  }
  .first-screen-form-wrapp {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .first-screen {
    min-height: 1300px !important;
  }
  .main-service__container {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .first-screen-main-servise .main-service__container .col_w3 {
    width: 100% !important;
    margin-bottom: 15px;
  }
  .gallery-button-prev-next {
    width: 130px;
  }
  .first-screen-cursy a {
    padding: 10px;
  }
  .card-curs__subscribe {
    padding: 10px 45px;
  }
  .card-curs__subscribe::after {
    top: 17px;
  }
  .what-we-do__subscribe {
    padding: 10px;
  }
  .to-order__form button {
    padding: 10px;
  }
  .to-order {
    height: auto;
    max-height: 465px;
  }
  .telefon {
    min-height: 50px;
  }
  .news-item__button {
    padding: 10px;
  }
  .telefon__button {
    padding: 10px;
  }
  .last-news {
    padding: 50px 0;
  }
  .first-screen-form .form-body {
    padding-left: 25px;
    padding-right: 25px;
  }
  .h2,
  .h2-sentence {
    font-size: 25px;
  }
  .first-screen-form h2 {
    margin-top: 35px;
  }
  .first-screen-form h2 {
    font-size: 25px;
  }
  .gallery {
    position: relative;
    padding: 85px 0 100px;
    min-height: 555px;
  }
  .subscribe {
    padding-top: 60px;
  }
  .subscribe__container {
    margin-bottom: 50px;
  }
  .to-order__form input {
    text-align: center;
    height: 35px;
  }
  .h3_telefon {
    font-size: 25px;
  }
  .first-screen {
    padding: 90px 0 90px;
  }
  .first-screen-form__wrap-input input:first-of-type {
    margin-right: 0px;
  }
  .first-screen-form__wrap-input input {
    display: block;
    width: 100%;
  }
  .jq-selectbox:first-of-type {
    margin-right: 0px;
  }
  .jq-selectbox {
    display: block;
    width: 100%;
  }
  .jq-selectbox__select {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 43px !important;
  }
  .what-we-do__img {
    max-width: 100%;
  }
  .what-we-do__img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .sentence-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sentence {
    position: relative;
    float: none;
  }
  .gallery__red-line-top {
    display: none;
  }
  .gallery__red-line-bottom {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .first-screen {
    min-height: 1400px !important;
  }
  .first-screen-form {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }
  footer {
    padding: 45px 0 10px;
  }
  footer .flex_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .flex_container .col_w3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .footer-icon-container {
    text-align: center;
  }
  #menu-container .menu-list {
    padding: 25px;
  }
}
